* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background:black;
  color: white;
}

/* HEADER */
.header {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: red;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #00f7ff;
}

.logo span {
  color: white;
}


.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #cfd8ff;
  font-size: 15px;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #00f7ff;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background: #00f7ff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}